<!-- import the base html structure -->
{% extends "blocks/base.html" %}


{% block content %}

    <!-- start content -->


    <h1>Liste aller Produkte und Abstimmungen</h1>
    <div class="lead mb-5">Hier sind alle Produkte sichtbar.
        Klicke auf Details, um die Abstimmungsergebnisse zu sehen.</div>


    <div class="row mb-3">


        {% if max_pages <= page %}
            <a href="{{ url_for("all_deals_range", page=prevPage) }}"><i
                    class="fas fa-chevron-circle-left fa-3x"></i></a>
            <div class="lead m-2">Page {{ page }} of {{ max_pages }}</div>


        {% elif page == 1 %}
            <div class="lead m-2">Page {{ page }} of {{ max_pages }}</div>

            <a href="{{ url_for("all_deals_range", page=nextPage) }}"><i class="fas fa-chevron-circle-right fa-3x"></i></a>


        {% else %}
            <a href="{{ url_for("all_deals_range", page=prevPage) }}"><i
                    class="fas fa-chevron-circle-left fa-3x"></i></a>
            <div class="lead m-2">Page {{ page }} of {{ max_pages }}</div>

            <a href="{{ url_for("all_deals_range", page=nextPage) }}"><i class="fas fa-chevron-circle-right fa-3x"></i></a>



        {% endif %}

    </div>

    <table id="overview_table" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Hersteller</th>
            <th scope="col">Produkt</th>
            <th scope="col">Rabatt</th>
            <th scope="col">Kategorie</th>
            <th scope="col">Details</th>
            <th scope="col">Löschen</th>

        </tr>
        </thead>


        {% for key, value in deals.items() %}

            <tbody>
            <tr>
                <td class="align-middle">{{ key }}</td>
                <td class="align-middle">{{ value["producer"] }}</td>
                <td class="align-middle">{{ value["name"] }}</td>
                {% if value["discount"]|int < 10  %}
                <td class="align-middle"><h4><span class="badge badge-danger">{{ value["discount"] }}%</span></h4></td>
                {% else %}
                <td class="align-middle"><h4><span class="badge badge-success">{{ value["discount"] }}%</span></h4></td>
                {% endif %}
                <td class="align-middle">{{ value["category"] }}</td>
                <td class="align-middle"><a href="{{ url_for("show_deal", id=key) }}"> <i class="fas fa-info-circle fa-2x"></i></a></td>
                <td class="align-middle"><a href="{{ url_for("delete_entry", deal_id=key) }}"><i class="fas fa-trash fa-2x" style="color:red"></i></a></td>
            </tr>
            </tbody>

        {% endfor %}
    </table>


    <!-- end content -->
{% endblock %}





