<!DOCTYPE html>
<html lang="en">
<head>

    <!-- meta tags -->
    <meta charset="UTF-8">
    <title>{{ title }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

    <!-- start content -->


<div class="container mt-5">
  <div class="row">
    <div class="col">

      <h1>Sign in</h1>
      <hr>

      <form action="/login" method="POST">

        <div class="form-group">
          <label>Username</label>
          <input class="form-control" type="text" name="username">
        </div>

        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>

      </form>

    </div>
  </div>
</div>


    <!-- end content -->

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
</body>
</html>


