<!-- import base html structure -->
{% extends "blocks/base.html" %}


{% block content %}

    <!-- start content -->

    <h1 class="mb-4">New Entry</h1>

    <form action="/new_entry" method="POST">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" name="post_deal" placeholder="Name of Deal" required>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" name="post_price" placeholder="Price" required>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col-6">
                <div class="form-group">
                    <label>Kategorie</label>
                    <select class="form-control" name="post_category">
                        <option value="" selected disabled>Choose category</option>
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>

        </div>

        <button type="submit" class="btn btn-success mb-3">Submit</button>
    </form>


    <form action="/new_entry/new_category" method="POST">
        <input type="text" class="form-control" name="post_category" placeholder="New category" required>
        <button type="submit" class="btn btn-success mb-3">Submit</button>
    </form>

    <!-- show message for successful entry -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}




    <!-- end content -->

{% endblock %}
