<!-- import base html structure -->
{% extends "blocks/base.html" %}


{% block content %}

    <!-- start content -->

    <h1 class="mb-4">Neuer Eintrag</h1>

    <form action="/new_entry" method="POST">
        <div class="row">
            <div class="col">
                <input type="text" class="form-control" name="post_name" placeholder="Produktname" required>
            </div>

        </div>
    <div class="row mt-3">
        <div class="col-6">
                <input type="text" class="form-control" name="post_price_new" placeholder="Aktions-Preis" required>
            </div>
        <div class="col-6">
                <input type="text" class="form-control" name="post_price_old" placeholder="Stattpreis" required>
            </div>
    </div>

      <div class="row mt-3">
        <div class="col">
                <input type="text" class="form-control" name="post_link" placeholder="Herstellerlink" required>
            </div>

    </div>


        <div class="row mt-3">
            <div class="col-4">
                <div class="form-group">
                    <label>Kategorie (<a href="{{ url_for('categories') }}">verwalten</a>)</label>
                    <select class="form-control" name="post_category" required>
                        <option value="" selected disabled>Bitte auswählen</option>
                        {% for category in categories %}
                            <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>

                </div>
            </div>


        </div>

        <button type="submit" class="btn btn-primary mb-3">Hinzufügen</button>
    </form>



           <!-- show message when entry added successful -->
{% with errors = get_flashed_messages(category_filter=["success"]) %}
    {% if errors %}
        {%- for message in errors %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor -%}
    {% endif %}
{% endwith %}

            <!-- show message when price tag isn't a number -->
        {% with errors = get_flashed_messages(category_filter=["danger"]) %}
    {% if errors %}
        {%- for message in errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor -%}
    {% endif %}
{% endwith %}




    <!-- end content -->

{% endblock %}




