<!-- import the base html structure -->
{% extends "blocks/base.html" %}


{% block content %}

    <!-- start content -->


    <h1>Registration</h1>
    <p>Input your data to register</p>


    <form action="/register" method="POST">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" name="input_username" placeholder="Username" required>
            </div>
            <div class="col-6">
                <input type="password" class="form-control" name="input_password" placeholder="Password" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <input type="text" class="form-control" name="input_firstname" placeholder="Firstname" required>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" name="input_lastname" placeholder="Lastname" required>
            </div>
        </div>


        <button type="submit" class="btn btn-success mt-3 mb-3">Add user</button>
    </form>

<!-- end of section -->

    <!-- show message when username is taken -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- end content -->
{% endblock %}

