<!-- import the base html structure -->
{% extends "blocks/base.html" %}


{% block content %}

    <!-- start content -->


    <h1>Users</h1>
    <p>Content starts here</p>

    <table id="overview_table" class="table">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>

        {% for user in users.values() %}
            <tbody>
            <tr>
                <th scope="row">{{ user["username"] }}</th>
                <td>{{ user["firstname"] }} </td>
                <td>{{ user["lastname"] }}</td>
                {% if not user["username"] == "admin" %}
                    <td><a href="{{ url_for("users_delete_user", username=user["username"]) }}"><i class="fas fa-trash fa-2x"></i></a></td>
                {% endif %}
            </tbody>
        {% endfor %}
    </table>

    <!-- section: add new user -->

    <h2 class="mt-5">New user</h2>

    <form action="/users/add" method="POST">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" name="input_username" placeholder="Username" required>
            </div>
            <div class="col-6">
                <input type="password" class="form-control" name="input_password" placeholder="Password" required>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <input type="text" class="form-control" name="input_firstname" placeholder="Firstname" required>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" name="input_lastname" placeholder="Lastname" required>
            </div>
        </div>


        <button type="submit" class="btn btn-success mt-3 mb-3">Add user</button>
    </form>

<!-- end of section -->

      <!-- show message when username is taken -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- end content -->
{% endblock %}




