<!-- import the base html structure -->
{% extends "blocks/base.html" %}


{% block content %}

    <!-- start content -->


    <h1>Voting</h1>
    <div class="lead mb-5">Hier siehst du alle Produkte, für die du noch abstimmen musst.</div>


    <table id="overview_table" class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Produkt</th>
            <th scope="col">Preis</th>
            <th scope="col">Rabatt</th>
            <th scope="col">Kategorie</th>
            <th scope="col">Details</th>
            <th scope="col">Voting</th>
        </tr>
        </thead>


        {% for id, value in deals.items() if user not in deals[id]["accepted"] + deals[id]["rejected"] %}

            <tbody>
            <tr>
                <td class="align-middle">{{ id }}</td>
                <td class="align-middle">{{ value["producer"] }} {{ value["name"] }}</td>
                <td class="align-middle">CHF {{ '{0:0.2f}'.format(value["new_price"]) }}  <br> <small>statt CHF {{ '{0:0.2f}'.format(value["old_price"]) }}</small></td>
                {% if value["discount"]|int < 10  %}
                <td class="align-middle"><h4><span class="badge badge-danger">{{ value["discount"] }}%</span></h4></td>
                {% else %}
                <td class="align-middle"><h4><span class="badge badge-success">{{ value["discount"] }}%</span></h4></td>
                {% endif %}
                <td class="align-middle">{{ value["category"] }}</td>
            <td class="align-middle"><a href="{{ url_for("show_deal", id = id ) }}"> <i class="fas fa-info-circle fa-2x"></i></a></td>


                <td class="align-middle">
                    <a href="{{ url_for("voting_vote", deal_id=id, vote="accepted") }}"><i
                            class="fas fa-thumbs-up fa-2x mr-3 color-green"></i></a>
                    <a href="{{ url_for("voting_vote", deal_id=id, vote="rejected") }}"><i
                            class="fas fa-thumbs-down fa-2x color-red"></i></a>
                </td>
            </tr>
            </tbody>

        {% endfor %}
    </table>


    <!-- end content -->
{% endblock %}





