<!-- import the base html structure -->
{% extends "blocks/base.html" %}


{%  block content %}

    <!-- start content -->


<h1>Voting</h1>
    <div class="lead mb-5">All deals you have to vote for!</div>


      <table id="overview_table" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
        <th scope="col">added </th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">Category</th>
        <th scope="col">Details</th>
        <th scope="col">Vote</th>
    </tr>
  </thead>


   {% for id, value in deals.items() if user not in deals[id]["accepted"] + deals[id]["rejected"] %}

       <tbody>
    <tr>
      <td>{{ id }}</td>
        <td>{{ value["user"] }}</td>
      <td>{{ value["name"] }}</td>
      <td>{{ value["price"] }} CHF</td>
      <td>{{ value["category"] }}</td>
       <td><a href="{{ url_for("show_deal", id=id) }}"> <i class="fas fa-info-circle fa-2x"></i></a></td>


        <td>
            <a href="{{ url_for("voting_vote", deal_id=id, vote="accepted") }}"><i class="fas fa-thumbs-up fa-2x mr-3"></i></a>
            <a href="{{ url_for("voting_vote", deal_id=id, vote="rejected") }}"><i class="fas fa-thumbs-down fa-2x"></i></a>
        </td>
    </tr>
  </tbody>

    {% endfor %}
</table>


    <!-- end content -->
{% endblock %}





